/*
* multi-line comment
*/
p{ line-height: 1em;
   font-size: 1.2em; 
}
h1, h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

#logo h1{
    color: black;
}
/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}
/* you can put your code all in one line like above */
#page{ 
margin: 20px;

}

/* or on different lines like below */
#logo{
	width: 20%;
	margin-top: 0px;
	font-family: georgia;
	display: inline-block;
 
    
}
/* but try and be as concise as possible */
#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a {
				padding: 10px;
				background: orange;
				color: white;
                border-radius: 50%
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }
#start p{
    font-size: 1.5rem;
    text-align: center;
    width: 70px;
    margin-left: 40%;
    padding: 20px;
    background: #3ec866;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px #666;
    cursor: pointer;
    border-color: #3ec866;
}
#time{
    font-size: 2.2rem;
    text-align: center;
    margin-top: 0px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15px;
    background-color: floralwhite;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #666;
}

#qTable{
    width: 100%;
    column-width: ;
}
#q1{
    opacity: 1;
}
#q2, #q3{
    opacity: 0.05;
}
#nextRound {
    align-content: center;
    text-align: center;
    width: 35px;
   
    margin-left: 40%;
    margin-right: 50%;
    padding: 8px;
    background: #3ec866;
    color: white;
    border-radius: 1px;
    box-shadow: 0px 1px 2px #666;
    cursor: pointer;
}
#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#roundsContainer{
    display: none;
    margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#rounds{
    padding: 20px;
    background-color: cornsilk;
    border-radius: 5px;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}

/* multiple styles seperated by a , */
#content,
ul li a{ box-shadow: 0px 1px 1px #999; }